@media(min-width: 1440px){

    body {
        display: grid;
        grid-template-columns: auto auto;
        background-color: $grayishBlue;
        padding: 120px 300px;
    }

    .community {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .community, .subscription, .us {
        padding: 30px 45px;
    }

    .subscription , .us{
        width: 420px;
    }
}