@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  background-image: url("../../images/bg-pattern-top-mobile.svg"), url("../../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0px -10px, bottom;
  color: #937b92;
}

.container {
  height: 100%;
  padding: 50px 10px;
}

.container-bg-stars {
  padding: 0px 4px;
}

.container-review {
  height: 100%;
  padding: 50px 10px;
  padding-bottom: 30px;
}

h1 {
  color: #502050;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  line-height: 1.0;
  padding: 0px 30px;
}

.header-description {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 35px;
}

.rating {
  padding: 15px;
  margin: 10px 0px;
  background-color: #f7f2f7;
  border-radius: 8px;
  margin-bottom: 15px;
}

.bg-stars {
  width: 46%;
  margin: auto;
  height: 20px;
}

.content {
  padding-top: 9px;
  font-size: 13px;
  font-weight: 700;
  color: #502050;
  text-align: center;
}

.review {
  margin-top: -60px;
  padding: 30px;
  font-size: 15px;
  background-color: #502050;
  border-radius: 8px;
}

.review-img-name {
  display: grid;
  grid-template-columns: 30% 70%;
  position: relative;
}

.review-image {
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50%;
  height: 70%;
}

.review .name {
  position: relative;
  top: -3px;
  color: white;
  font-weight: 500;
}

.review .title {
  position: relative;
  bottom: 30px;
  color: #ee68a4;
  font-weight: 500;
}

.review-description {
  position: relative;
  bottom: 10px;
  line-height: 1.6;
  color: white;
  font-weight: 400;
}

@media (min-width: 1440px) {
  body {
    background-image: url("../../images/bg-pattern-top-desktop.svg"), url("../../images/bg-pattern-bottom-desktop.svg");
    background-position: 0px -10px, 360px 155px;
  }
  .container {
    margin-top: 60px;
  }
  .first {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 0;
    padding-top: 75px;
    padding-right: 130px;
    margin-top: 60px;
  }
  .header {
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0px 60px;
    padding: 0;
  }
  .header h1 {
    padding: 0px 60px;
    margin: 0;
    font-size: 43px;
    text-align: left;
  }
  .header-description {
    text-align: left;
    padding: 0px 60px;
  }
  .rating {
    height: 60px;
    margin: 0;
    padding-top: 20px;
    padding-left: 25px;
    width: 470px;
  }
  .rating .bg-stars {
    position: relative;
    margin: 0;
    display: inline;
    width: 30%;
  }
  .rating .content {
    display: inline;
    width: 40%;
    padding-left: 25px;
  }
  .rating-2 {
    margin-left: 60px;
  }
  .rating-3 {
    margin-left: 120px;
  }
  .second {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 50px;
  }
  .second .review {
    width: 400px;
    margin-left: 40px;
  }
  .second .review-1 {
    margin-left: 90px;
  }
  .second .review-3 {
    margin-left: -10px;
  }
}
/*# sourceMappingURL=styles.css.map */